* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.App {
  position: relative;
  padding: 5px;
  width: 300px;
  min-height: 400px;
  background-color: grey;
}

input[type="text"]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-right: .5rem;
}

input:focus {
  outline: none;
}

button, input[type="submit"] {
  font-size: 10px;
  cursor: pointer;
}

.menu-container small {
  font-size: 9px;
}

footer {
  position: absolute;
  bottom: 0;
}